doctype html
html(lang="en")
	include ./partials/_head.jade
	body
		div(id="wrapper")
			div(id="left")
			div(id="middle")
			div(id="right")
	script(src="https://code.jquery.com/jquery-2.2.3.min.js")
	script(src="static/script/landingScript.js")