extends ./layout

block content

  div(id="wrapper")
        a(href="/blog")
          div(id="left")
        a(href="/about")
          div(id="middle")
        a(href="/projects")
          div(id="right")