extends ./layout.jade
block content

	include ./partials/_nav.jade
	
	section
		div.singlePostPage
			if ("image" in post)
				div(class="slickSlides")
					each img in post.image
						div
							img(src="/static/img/"+img)
				h2 #{post.title}
				each para in post.body
					p #{para}
				a(href="/blog") Click this to go back
			
			else 
				h2 #{post.title}
				p #{post.body}
				a(href="/blog") Click this to go back