extends ./layout.jade

block content
	section
		div.post
			if ("image" in post)
				each img in post.image
					img(src="/static/img/"+img)
				h2 #{post.title}
				p #{post.body}
				a(href="/blog") Click this to go back
			
			else 
				h2 #{post.title}
				p #{post.body}
				a(href="/blog") Click this to go back