div(id="navWrapper" class="clearfix")
      a(href="/")
        div(class="navIcon" id="left")
      a(href="/")
        div(class="navIcon" id="middle")
      a(href="/")
        div(class="navIcon" id="right")

