div(id="navWrapper" class="clearfix")
      a(href="/")
        div(class="navIcon" id="leftNav")
      a(href="/")
        div(class="navIcon" id="middleNav")
      a(href="/")
        div(class="navIcon" id="rightNav")

