/* About Page Styles */

#meContent {
  height: 85vh;
  width: 80vh;
  background: white;
  margin: 10% auto 5%;
  } #rightPara {
      float: left;
      width: 50%;
      border: 1px solid black;
      margin: 0;
  } #portrait {
      float: right;
      height: 10%;
      width: 10%;
      border: 1px solid black;
      margin: 0;
    } img {

  } #remainingPara {
    border: 1px solid black;
    margin: 0;
    clear: both;

}