/* Single Blog Post Styles */
.singlePostPage {
    border: 1px solid black;
    margin: 10% auto 5%;
    width: 75%;
    display: block;
    padding: 1%;
    background: white;
    font-family: $cool-font;
    a {
    text-align: center;
    display: block;
    }
    p, h2{
      z-index: 3;
      position: relative;
    }
    
}

/* Slick Carousel Styling */
.slickSlides{ 
  display: none;
  width: 50%;
  } div {
  margin: 1% auto;
    } img {
    height: 100%;
    width: 100%;
}
.slickSlides.slick-initialized {
  
  display: block;
} 